<!DOCTYPE html>
<html>
<head>
	<title>The Public Slang Database</title>
</head>
<body>

<h1>The Database</h1>

<% @slangs.each do |slang| %>
<h5><%= slang['slang'] %> </h5>
<li><strong>Meaning:</strong> <%= slang['meaning'] %> </li> 
<li><strong>Type:</strong> <%= slang['type'] %> </li> 
<li><strong>Country:</strong> <%= slang['name_country'] %> </li>
<li><strong>Are people using it right now? </strong> <%= slang['is_it_in'] %> </li>
<li><strong>Example:</strong>  <%= slang['example'] %></li>
<li><strong>Last update request:</strong>  <%= slang['date_r'] %></li>
<% end %>

</body>
</html>